body {
    background-color: #f7f7f7;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .cart-header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item img {
    max-width: 100px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .cart-item-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .cart-item-price {
    color: #b12704;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .cart-item-quantity {
    margin-top: 10px;
  }
  
  .cart-total {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px;
  }

  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
    margin-left: 20px;
}
.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}
.CartBtn:hover .text {
    transform: translate(0px,0px);
    transition-duration: 0.5s;
    padding-left: 20px;
    
}
.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}
  